body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ************************************** Navbar ************************************** */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-icon {
    width: 30%;
    padding-top: 4px;
    padding-left: 5px;
}

.home-nav {
    display: flex;
    justify-content: space-between;
    width: 50%;
    font-family: 'Raleway';
    /* font-weight: lighter; */
    padding-right: 35px;
}

.home-h6{
    font-size: medium;
    font-weight: lighter;
    margin: 0;
}

/* ************************************** Homepage ************************************** */

.main-bg{
    
    width: 100%;
}

input.text {
    border: none;
    width: 100%;
    padding: 10px;
    font-size: large;
    font-family: 'Raleway';
    outline: none;
}

h3.heading {
    position: absolute;
    color: white;
    margin-top: 26%;
    font-family: Raleway;
    font-size: xxx-large;
    left: 50%;
    font-size: clamp(1.3rem,5vw, 4rem);
    transform: translateX(-50%);
    white-space: nowrap;
    font-weight: 100;
    top: 0;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    border: none;
    border-radius: 100px;
    background-color: white;
    width: 50%;
    margin: 0 auto;
    position: absolute;
    margin-top: 35%;
    left: 50%;
    font-size: clamp(1.3rem,5vw, 4rem);
    transform: translateX(-50%);
    white-space: nowrap;
    top: 0;
}

/* ********************************* Section (Tourist Attraction) ********************************* */

p#scroll-bar-title{
    text-align: center;
    font-family: 'Raleway';
    padding-top: 15px;
    font-size: x-large;
    font-weight: 100;
}

.symbol{
    text-align: center;
    padding-bottom: 10px;
}

.categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.scard{
    margin: 2%;
    position: relative;
    width: 45%;
    width: 200px;
    transition: transform 0.5s;
}

.scard-img{
    width: 100%;
    border-radius: 5px;
    height: 150px;
}

.scard:hover{
    transform: scale(1.2);
}

.scard-title{
    text-align: center;
    margin: 10px 0;
    padding-left: 1%;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: clamp(0.6rem, 3vw, 1rem);
}

.scard-text{
    padding-left: 1%;
    font-family: 'Raleway';
    
}

.scard-body{
    padding: 0 3%;
}

.tourists-attractions{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    margin: 2%;
    position: relative;
    width: 45%;
    max-width: 650px;
    min-width: 325px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-img{
    width: 100%;
}

.card-title{
    margin: 10px 0;
    padding-left: 1%;
    font-family: 'Raleway';
    font-weight: 400;
}

.card-text{
    padding-left: 1%;
    font-family: 'Raleway';
    font-size: clamp(0.8rem, 3vw, 1rem);
}

.card-body{
    padding: 0 3%;
}

#places-info{
    position: relative;
}


.discover-back{
    width: 100%;
    
}

.head-dis{
    position: absolute;
    font-family: Raleway;
    color: white;
    font-size: x-large;
    text-align: center;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.offer{
    position: relative;
}

.offer-img{
    width: 100%;
}

.offer-heading{
    width: 100%;
    position: absolute;
    margin-top: 15%;
    font-family: Raleway;
    color: rgb(208, 24, 24);
    font-size: x-large;
    text-align: center;
}

.offer-info{
    width: 100%;
    position: absolute;
    margin-top: 20%;
    font-family: Raleway;
    color: rgb(166, 12, 12);
    font-size: large;
    text-align: center;
}

.search-bar-offer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    border: none;
    border-radius: 100px;
    background-color: rgb(249, 246, 246);
    width: 50%;
    margin: 0 auto;
    position: absolute;
    margin-top: 28%;
    left: 50%;
    font-size: clamp(1.3rem,5vw, 4rem);
    transform: translateX(-50%);
    white-space: nowrap;
    top: 0;
    
}
